<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Comerciales</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
</head>
<body>
<div id="contenedora" class="container my-4">
    <div class="row align-items-center mb-4">
        <div class="col-md-6">
            <h1>Comerciales</h1>
        </div>

        <div class="col-md-6 text-md-right">
            <form action="/comercial/crear">
                <button type="submit" class="btn btn-primary">Crear</button>
            </form>
        </div>
        <div class="col-md-12 text-md-right">
            <form action="/">
                <button type="submit" class="btn btn-primary">Volver</button>
            </form>
        </div>

    </div>

    <hr/>
    <div class="row">
        <span class="col-1"><strong>Id</strong></span>
        <span class="col text-center"><strong>Nombre</strong></span>
        <span class="col text-center"><strong>Apellido1</strong></span>
        <span class="col text-center"><strong>Apellido2</strong></span>
        <span class="col text-center"><strong>Comisión</strong></span>
        <span class="col"><strong>Acción</strong></span>
    </div>
    <hr/>

    <div class="row" th:each="comercial : ${listaComercial}">
        <span class="col-1" th:text="${comercial.id}">0</span>
        <span class="col text-center" th:text="${comercial.nombre}">nombre</span>
        <span class="col text-center" th:text="${comercial.apellido1}">apellido1</span>
        <span class="col text-center" th:text="${comercial.apellido2 ?: '&nbsp;'}">apellido2</span>
        <span class="col text-center" th:text="${comercial.comision}">ciudad</span>
        <span class="col">
        <div class="btn-group d-flex justify-content-around" role="group">
        <form class="d-inline" th:action="@{/comercial/detalles/__${comercial.id}__}">
                <button type="submit" class="btn btn-info btn-sm">Detalle</button>
            </form>
            <form class="d-inline" th:action="@{/comercial/editar/__${comercial.id}__}">
                <button type="submit" class="btn btn-success btn-sm">Editar</button>
            </form>
            <form class="d-inline" th:action="@{/comercial/borrar/__${comercial.id}__}" method="post">
                <button type="submit" class="btn btn-danger btn-sm">Eliminar</button>
            </form>
        </div>
    </span>
    </div>


</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
