<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detalles Comercial</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
</head>
<body>

<div class="container mt-5">


    <div class="col-12">
        <h1 th:text="'Detalles de Comercial  ' + ${comercial.nombre}" class="display-4"></h1>
    </div>

    <div class="col-md-12 text-md-right">
        <form action="/comercial">
            <button type="submit" class="btn btn-primary">Volver</button>
        </form>
    </div>


    <div th:if="${comercial}">
        <div class="row">

            <!-- Info del Comercial -->
            <div class="col-md-4">
                <p><strong>Nombre:</strong> <span th:text="${comercial.nombre}"></span></p>
            </div>
            <div class="col-md-4">
                <p><strong>Apellido 1:</strong> <span th:text="${comercial.apellido1}"></span></p>
            </div>
            <div class="col-md-4">
                <p><strong>Apellido 2:</strong> <span th:text="${comercial.apellido2}"></span></p>
            </div>
            <div class="col-md-4">
                <p><strong>Comisión:</strong> <span th:text="${comercial.comision}"></span></p>
            </div>

        </div>

        <!-- Pedidos -->
        <div class="row mt-4 container-lg">
            <h5 class="">Pedidos</h5>
            <div class="col-md-12">

                <!-- si no tenemos pedido-->
                <div th:if="${pedidoDTOList.isEmpty()}" class="alert alert-danger">
                    <p>No hay pedidos registrados para este cliente.</p>
                </div>

                <ul class="list-group col-12">
                    <li th:each="pedidos : ${pedidoDTOList}" class="list-group-item">

                        <div class="col-md-4">
                            <p><strong>ID Pedido :</strong> <span th:text="${pedidos.id}"></span></p>
                        </div>

                        <div class="col-md-4">
                            <p><strong>Fecha:</strong> <span th:text="${pedidos.fecha}"></span></p>
                        </div>

                        <div class="col-md-4">
                            <p><strong>Total:</strong> <span th:text="${pedidos.total}"></span>€</p>
                        </div>

                        <div class="col-md-4">
                            <p><strong>ID Cliente:</strong> <span th:text="${pedidos.id_cliente}"></span></p>
                        </div>

                        <div class="col-md-4">
                            <p>
                                <strong>Nombre Cliente:</strong>
                                <a th:href="@{/clientes/detalles/{id}(id=${pedidos.id_cliente})}">

                                    <span th:text="${pedidos.nombre_cliente}"></span>

                                </a>
                            </p>

                        </div>

                    </li>
                </ul>

            </div>
        </div>


    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
