<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detalle Cliente</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
</head>
<body>


    <div th:if="${error}">
        <p th:text="${error}">Error</p>
    </div>

    <div th:if="${clienteDetalle}">
        <h1 th:text="'Detalle de ' + ${clienteDetalle.nombre}"></h1>
        <p><strong>Nombre:</strong> <span th:text="${clienteDetalle.nombre}"></span></p>
        <p><strong>Apellido:</strong> <span th:text="${clienteDetalle.apellido1}"></span></p>
        <p><strong>Ciudad:</strong> <span th:text="${clienteDetalle.ciudad}"></span></p>

        <h2>Pedidos:</h2>
        <div th:if="${clienteDetalle.pedidos.isEmpty()}">
            <p>No hay pedidos registrados para este cliente.</p>
        </div>
        <ul th:if="${!clienteDetalle.pedidos.isEmpty()}">
            <li th:each="pedido : ${clienteDetalle.pedidos}">
                <span th:text="${pedido.fecha}"></span> -
                <span th:text="${pedido.total}"></span>
            </li>
        </ul>
    </div>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
